
h1{
    color: black;
    text-align: center;
}
body{
    /* background-image: url('./Images/cows.jpg'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)); */
    background-repeat: no-repeat;
    background-size: cover;
    
}
.form{
    text-align: center;
}
.sh{
    color:green;
}
#wrapper{
    display: none; 
}
 #totalperday{
     background-color: grey;
     color: white;
     font-weight: bold;
     font-size: 30px;
 }
 #totalincomeperyear{
    background-color: grey;
    color: white;
    font-weight: bold;
    font-size: 30px;
 }
 #monthlyincome{
    color:green;
     display: block;
 }
.button{
    color: white;
    background-color: blue;
    font-size: 20px;
    border-radius: 5px;
}